<div class="banner home-banner">
  <div class="banner-content">
    <h1>Home-Made Cocktail</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to "Add Your Own Cocktail", new_cocktail_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Your Library of Cocktails</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-out">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo if cocktail.photo.present? %>');">
         <div class="card-category"><%#= cocktail.name %></div>
         <div class="card-description">
          <h2><%= cocktail.name %></h2>

          <% doses = cocktail.doses %>
          <% doses.each do |dose| %>
          <p><%= dose.ingredient.name %> -
            <%= dose.description %>
          </p>
          <% end %>
        </div>
        <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
  </div>
  <% end %>

</div>
</div>



